<h1>Liste des Chatrooms</h1>

<div class="chatroom-list">
  <% @chatrooms.each do |chatroom| %>
    <div class="chatroom">
      <h2><%= link_to "Chatroom #{chatroom.id}", chatroom_path(chatroom) %></h2>
      <div class="messages">
        <% chatroom.messages.each do |message| %>
          <div class="message <%= message.user == current_user ? 'from-user' : 'from-other' %>">
            <p><strong><%= message.user.name %>:</strong> <%= message.content %></p>
            <p class="timestamp"><%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
