<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="profile-info">
      <div class="avatar-menu">
        <%= link_to root_path do %>
          <%= image_tag 'https://i0.wp.com/pixarpost.com/wp-content/uploads/2020/10/a760d-duke2bcaboom2bsolo2btoy2bstory2b42bposter2bcopy.jpg?fit=1130%2C668&ssl=1', alt: "Avatar Profil", class: 'avatar' %>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'Home', root_path, class: 'dropdown-item' %>
          <%= link_to 'Messages', '#', class: 'dropdown-item' %> <!-- Remplace le '#' par le chemin des messages -->
          <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item' %>
        </div>
      </div>
      <div class="details">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
      </div>
    </div>
    <div class="calendar">
      <header>
        <h2><%= Date.today.strftime("%A") %></h2>
        <p><%= Date.today.strftime("%B") %></p>
      </header>
      <div class="calendar-grid">
        <% (Date.today.beginning_of_month..Date.today.end_of_month).each do |day| %>
          <div class="calendar-day <%= 'past' if day < Date.today %>">
            <%= day.day %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="dashboard-content">
    <div class="dashboard-section">
      <section class="box profile-form">
        <h2>Mon Profil</h2>
        <%= link_to 'Remplir le formulaire', edit_user_user_job_search_path(@user), class: 'btn btn-primary' %>
      </section>
    </div>
    <div class="dashboard-section">
      <section class="box candidatures">
        <h2>Mes Candidatures</h2>
        <%= link_to 'Voir les candidatures', my_candidacies_users_path, class: 'btn btn-primary' %>
      </section>
    </div>
    <div class="dashboard-section">
      <section class="box messages">
        <h2>Ma Messagerie</h2>
        <%= link_to 'Accéder aux messages', chatrooms_path, class: 'btn btn-primary' %>
      </section>
    </div>
  </div>
</div>
