<div class="home-page" data-controller="scroll-animation">
  <!-- Banner Section -->
  <div class="banner">
    <h1>JOBBOX</h1>
    <p class="tagline">Votre prochain job, votre meilleur match !</p>

    <div class="buttons">
      <% if user_signed_in? %>
      <a href="<%= user_path(current_user) %>" class="btn btn-primary btn-medium">Je suis recruteur</a>
      <a href="<%= user_path(current_user) %>" class="btn btn-primary btn-medium">Je recherche un emploi</a>
      <% end %>
    </div>
    <a href="<%= new_user_session_path %>" class="btn btn-secondary btn-small">
      <%= current_user ? "Vous êtes connecté" : "Je me connecte" %>
    </a>
    <div class="scroll-down">
      &darr; <!-- Utilisez une flèche vers le bas -->
    </div>
  </div>

  <!-- Information Blocks -->
  <div class="info-section" data-controller="scroll-animation">
    <div class="info-block" data-scroll-animation-target="infoBlock">
      <div class="info-content">
        <div class="text">
          <h2>Objectif de Jobbox</h2>
          <p>Notre mission est de réinventer la recherche d'emploi en la rendant plus fluide et interactive. Jobbox est une plateforme innovante qui intègre une cartographie géolocalisée pour une visualisation rapide des opportunités d'emploi, une communication directe avec les recruteurs, et un suivi personnalisé. Avec notre interface intuitive, vous pouvez explorer les offres près de chez vous ou dans des zones spécifiques, tout en recevant des recommandations adaptées à votre profil.</p>
        </div>
        <div class="image">
          <%= image_tag "pexels-tima-miroshnichenko-5439438.jpg", alt:"Outils de Communication Intégrés" %>
        </div>
      </div>
    </div>

    <div class="info-block reversed" data-scroll-animation-target="infoBlock">
      <div class="info-content">
        <div class="image">
          <%= image_tag "pexels-cottonbro-5870536.jpg", alt:"Outils de Communication Intégrés" %>
        </div>
        <div class="text">
          <h2>Gains de Temps et Localisation Précise</h2>
          <p>Avec Jobbox, vous gagnez du temps précieux en accédant directement aux opportunités d'emploi près de chez vous ou dans la région de votre choix. Fini les recherches fastidieuses à travers des listes interminables ; notre plateforme vous offre une vue claire et instantanée des offres disponibles, vous permettant de cibler rapidement les postes qui vous intéressent. Grâce à cette approche simplifiée, vous pouvez concentrer vos efforts sur les candidatures les plus pertinentes et accélérer votre processus de recherche d'emploi.</p>
        </div>
      </div>
    </div>

    <div class="info-block" data-scroll-animation-target="infoBlock">
      <div class="info-content">
        <div class="text">
          <h2>Carte Interactive</h2>
          <p>Cette fonctionnalité centrale de Jobbox vous permet de visualiser les offres d'emploi sur une carte. En cliquant sur un marqueur, accédez instantanément aux détails du poste et aux informations sur l'entreprise. Simplifiez votre recherche grâce à une vue d'ensemble géographique.</p>
        </div>
        <div class="image">
          <%= image_tag "pexels-andrew-2859169.jpg", alt:"Outils de Communication Intégrés" %>
        </div>
      </div>
    </div>

    <div class="info-block reversed" data-scroll-animation-target="infoBlock">
      <div class="info-content">
        <div class="image">
          <%= image_tag "pexels-cytonn-955395.jpg", alt:"Outils de Communication Intégrés" %>
        </div>
        <div class="text">
          <h2>Système de Matching Intelligent</h2>
          <p>Notre système révolutionnaire compare vos qualifications avec les offres d'emploi disponibles, prenant en compte les compétences, expériences, et diplômes, ainsi que la proximité géographique du poste. Les offres sont classées en catégories : Légendaire, Épique, Rare, et Commun, pour une recherche encore plus précise.</p>
        </div>
      </div>
    </div>

    <div class="info-block" data-scroll-animation-target="infoBlock">
      <div class="info-content">
        <div class="text">
          <h2>Outils de Communication Intégrés</h2>
          <p>Discutez en temps réel avec les employeurs via notre chat instantané, organisez des entretiens vidéo directement depuis la plateforme, et gérez vos rendez-vous grâce à un calendrier synchronisé. Nos rappels automatiques vous assurent de ne jamais manquer un entretien important.</p>
        </div>
        <div class="image">
          <%= image_tag "pexels-sevenstormphotography-704767.jpg", alt:"Outils de Communication Intégrés" %>
        </div>
      </div>
    </div>
  </div>
</div>
