<div class="container_map">

    <div class="d-flex row map-container-map">
<div class="filter-bar" data-controller="filter">
<h2 class="title">Voici les meilleurs offres pour le poste de #{job.title}</h2>
  <h3>Filtrer par type</h3>
  <div class="filter-options">
    <%= simple_form_for :level, url: user_job_search_matches_path(@user_job_search), method: :get, remote: true, html: { id: "filter-form", data: { filter_target: "form" } } do |f| %>
    <%= f.input :level, collection: ["Commun", "Rare", "Epique", "Légendaire"], as: :check_boxes, item_wrapper_class: 'form-check form-check-inline', input_html: { class: "form-check-input", data: { action: "click->filter#select", filter_target: "field" } }, label_html: { class: "form-check-label" } %>
    <% end %>
  </div>
</div>

        <div class="legend col-2">
          <h3>Légende</h3>
          <ul>
            <li><span class="legendary-dot"></span> Légendaire = Match à 100%</li>
            <li><span class="epic-dot"></span> Épique = Match à 90%</li>
            <li><span class="rare-dot"></span> Rare = Match à 70%</li>
            <li><span class="common-dot"></span> Commun = Match à 50%</li>
          </ul>
        </div>
        <div class="col-7">
          <%= turbo_frame_tag :map_frame do %>
            <div class="map"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          <% end %>
        </div>

    </div>

  <div class="info-box">
    <h2 class="info-title">Conseils pour ta recherche</h2>
    <p class="info-text">Utilise la carte pour découvrir les opportunités les plus proches de chez toi. Zoom pour explorer, clique pour voir les détails des offres.</p>

  <footer class="footer">
    <p>© 2024 JobBox. Tous droits réservés.</p>
  </footer>
  </div>
</div>
