<div class="container-form">
  <h1 class="text-center"> Mon Profil </h1>

  <div class="d-flex justify-content-center">
    <div class="form-container d-flex align-items-start pl-5 pr-5">
      <div class="info-container flex-grow-1">
        <p> Nom </p>
        <div class="input-like"><%= @user.name %></div>
        <p> E-mail </p>
        <div class="input-like"><%= @user.email %></div>
        <p> Téléphone </p>
        <div class="input-like"><%= @user.phone %></div>
        <p> Addresse </p>
        <div class="input-like"><%= @user.address %></div>
      </div>
      <div class="avatar-container">
        <%= image_tag 'https://static.wixstatic.com/media/331f88_a68a95780b1c4c94bc5edaa2fdc81a39~mv2.jpg/v1/fill/w_980,h_1470,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/331f88_a68a95780b1c4c94bc5edaa2fdc81a39~mv2.jpg', alt: "Avatar Profil", class: 'avatar' %>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-5"> Mon profil recherché </h2>
  <div class="d-flex justify-content-center">
    <div class="form-container pt-5">

      <%= simple_form_for(@offer) do |f| %>
        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :description, label: "Description de l'offre", input_html: { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :title, label: "Job", input_html: { class: 'form-control' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :address, label: "Adresse", input_html: { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :contrat_type, collection: ['CDI', 'CDD', 'Freelance', 'Stage', 'Alternance'], prompt: "Sélectionnez un type de contrat", label: "Type de contrat", input_html: { class: 'form-control' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :experience_level, collection: ['0-1 an', '1-3 ans', '3-5 ans', '5-10 ans', '+ 10 ans'], prompt: "Sélectionnez un niveau d'expérience", label: "Niveau d'expérience", input_html: { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :salary, collection: ['20k€ - 30k€', '30k€ - 40k€', '40k€ - 50k€', '50k€ - 60k€','60k€ - 70k€','< 70k€' ], prompt: "Sélectionnez une tranche salariale", label: "Salaire", input_html: { class: 'form-control' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :study_level, collection: ['Aucun diplôme', 'Bac', 'Bac+2', 'Bac+3', 'Master', 'Doctorat'], prompt: "Sélectionnez un niveau d'étude", label: "Niveau d'étude", input_html: { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :sector, collection: ['Finance', 'Technologie', 'Santé', 'Éducation', 'Construction', 'Marketing', 'Consulting'], prompt: "Sélectionnez un secteur", label: "Secteur", input_html: { class: 'form-control' } %>
          </div>
        </div>
          <div class="form-actions text-align: center">
            <%= f.submit "Valider mon offre", class: "btn btn-custom align-items-center" %>
          </div>
      <% end %>


    </div>
  </div>
</div>
