<div class="offer-page">
  <div class="offer-details">
    <h1><%= @offer.title %></h1>

    <p><strong>Ville:</strong> <%= @offer.address %></p>
    <p><strong>Type de contrat:</strong> <%= @offer.contrat_type %></p>
    <p><strong>Niveau d'expérience:</strong> <%= @offer.experience_level %></p>
    <p><strong>Niveau d'études:</strong> <%= @offer.study_level %></p>
    <p class="salary"><strong>Salaire:</strong> <%= @offer.salary %>K</p>
    <p><strong>Secteur:</strong> <%= @offer.sector %></p>

    <%= link_to 'Retour aux offres', offers_path, class: 'btn btn-primary' %>
  </div>

  <div class="map-container" id="map"></div> <!-- This will hold the Mapbox map -->
</div>
